/* this css file will only style the homepage of our site */

#my-portrait {
  max-width: 500px;
  border-radius: 20px;
  margin-top: 100px;
  box-sizing: border-box;
  transition: 0.5s;
}

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: white;
}

body{
  background: url(../img/gradient-bg.jpg);
  background-position: center;
}

h1{
  text-align: left;
  font-size: 72px;
  letter-spacing: 3px;
  padding-top: 100px;
  margin-left: 50px;
}

h2{
  text-align: left;
  letter-spacing: 3px;
  margin-left: 50px;
}

p{
  text-align: left;
  font-size: 32px;
  margin-left: 50px; 
}

.col{
  flex-basis: 48%;
  padding: 25px 2px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.about-me-col{
  flex-basis: 31%;
  margin-top: 105px;
  background-color: rgba(179, 200, 239, 0.773);
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.about-me-col:hover, #my-portrait:hover{
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

#about-me{
  margin-left: 30px;
  margin-right: 30px; 
  text-align: left;
  font-size: 14px;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

#links{
  flex: 1;
  text-align: center;
}
#links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
#links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
#links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #8489e2;
  display: block;
  margin: auto;
  transition: 0.5s;
}
#links ul li:hover::after{
  width: 100%;
}