/* we can use a single css file to style all the files in our wwebsite */

*{
  margin: 5px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
}

body{
  background: url(../img/gradient-bg.jpg);
  background-position: center;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
}
