/* Here we can set styles for this lab page that we don't want to effect others pages */

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: white;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #8489e2;
    background: transparent;
    cursor: pointer;
  }

#content h1{
  font-size: 36px;
  color: white;
}

#content h2{
  color: white;
}

#content p{
  font-size: 14px;
}

#content h1::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #8489e2;
    display: block;
    margin: auto;
    transition: 0.5s;
}
#content h1:hover::after{
    width: 100%;
}

.minor-section:hover{
  border: 1px solid #8489e2;
  background-color: rgba(179, 200, 239, 0.773);
  transition: 1s;
}